profiles {
    slurm {
        process.executor = 'slurm'
        process.queue = 'normal'
        singulary.enable = true
    
        tower {
            accessToken = 'eyJ0aWQiOiA0MDM2fS40NGRmZjMzMDQ3M2ZlNTU4NzgwOGU0NzEzODkyNjM2MmUxODY1ZWUx'
            enabled = true
        }        

        process.container = 'quay.io/nextflow/bash'
    }
}
